.article {
  padding-top: 80px;
}

.article-title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  max-width: 596px;
  margin-bottom: 40px;
}

.article-title-large {
  max-width: 596px;
  font-size: 48px;
}

.article-title-medium {
  max-width: 596px;
  font-size: 36px;
  margin-bottom: 40px;
}

.article-text {
  font-family: Ubuntu;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-1 {
  margin-bottom: 40px;
}

#p {
  margin-bottom: 20px;
}

#i {
  margin-bottom: 80px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../img/декор.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  left: -350px;
  top: 100px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-list {
  margin: 0;
  padding-left: 16px;
  margin-bottom: 40px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  color: #3596ed;
  font-size: 22px;
}

.article-video,
.img {
  width: 100%;
  margin-bottom: 40px;
}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
