html {
  font-family: Oswald, sans-serif;
  font-weight: 400;
}
body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
}

.article-title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  max-width: 596px;
  margin-bottom: 40px;
}

.article-title-large {
  max-width: 596px;
  font-size: 48px;
}

.article-title-medium {
  max-width: 596px;
  font-size: 36px;
  margin-bottom: 40px;
}

.article-text {
  font-family: Ubuntu;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-bm {
  margin-bottom: 80px;
}

#p {
  margin-bottom: 20px;
}

#i {
  margin-bottom: 80px;
}

.article-list {
  margin: 0;
  padding-left: 14px;
  margin-bottom: 40px;
}

.article-item {
  margin-bottom: 12px;
}

.article-video,
.img {
  width: 100%;
  margin-bottom: 40px;
}
