.air-mag__title {
  margin-bottom: 10px;
}

.air-mag__description {
  display: flex;
  gap: 13px;
}

.air-mag__description::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 131px;
  height: 40px;
  border-image: url("../../icons/rectangle-decor-icon.svg");
  transform: translate(-13px);
}

@media (width <= 768px) {
  .air-mag__description {
    margin-bottom: 20px;
  }
}

@media (width > 768px) {
  .air-mag__description {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
