:root {
  /* font-family */
  --font-family: "Open Sans", sans-serif;
  --second-family: "NAMU", sans-serif;

  /* colors */

  --main-color: #111;
  --accent-color: #c5358c;
  --status: #68ae5c;
  --bg-color: #f8f8f8;
  --second-bg-color: #ddd;
  --secondary-color: #fff;
  --disabled-color: #ababab;
  --shadow-color: #181817;
  --overlay: linear-gradient(rgba(30, 30, 30, 0.9), #000 1810%);

  /* shadows */
  --box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-2:
    0 4px 41px 0 rgba(0, 0, 0, 0.05), 0 4px 41px 0 rgba(0, 0, 0, 0.05);

  /* container */
  /* --container-width: 1920px; */
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.2s;

  /* layers */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
